<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo a Caderneta Digital de Vacinas.
    </mat-card-title>

    <mat-card-content>
        
        <h3>Este software tem objetivo de armazenar dados de vacinações
         podendo cadastrar usuarios e dados das vacinações.</h3>  

            <h4>A seguir uma imagem mostrando o ciclo de uma vacina até chegar a população.</h4>

            <img class="logo" src="assets/img/etapas.jpg" alt="logo" height="300px">
    </mat-card-content>

</mat-card>